:root {
    --border-var: 1px solid black;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 512px;
}

#main-container {
    margin-top: 64px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 32px;

    width: 512px;
    height: 512px;
    
    display: flex;
    flex-wrap: wrap;
}

#options-container {
    max-width: 512px;
    
    display: flex;
    justify-content: center;
    gap: 32px;
}

/* Section - Squares */

.square {
    border: var(--border-var);
    background-color: rgb(255, 255, 255);
    flex-basis: 6%;
}

.square:hover {
    background-color: rgb(200, 200, 200);
}